.CabeceraCardFondo {
    background-color: #080809;
    color: white;
}
.BodyCardFondo{
    background-color: #2c2d32;
    color: white;
}
.card{
    background-color: #383a3f !important;
}
.fondoNav{
    background-color: #080809;
    color: #f5f2f1;
}
.fondoNav a{
    color: #f5f2f1;
}
.table{
    border-color: #383a3f !important;
    background-color: #2c2d32;
}
.tablaHeader{
    color: #9f9f9f;
    background-color: #2c2d32;
    border-top: 2px solid #2c2d32;
}
.tablaBody{
    
    color: white;
}
.active a{
    font-weight: bolder;
}
.cabeceraTab a{
    background-color:#080809;
    color: white;
}
.cabeceraTab a.active{
    background-color:  #5066e1 !important;
    border-color: transparent;
    color: white  !important;
}
.alertaCitaSi{
    background-color: #99b898 !important;
    color: white
}
.alertaCitaNo{
    background: rgba(48, 190, 251, 0.3) !important;
    border-color: #383a3f
}
body{
    background-color: #202124;
    color: white;
}
.alert-info{
    color: white !important;
    background-color: rgba(48, 190, 251, 0.3) !important;
    
}
.navbar-toggler-icon{
    color: white !important;
}